---
export interface Props {
	text: string;
    href: string;
    id?: string;
    click?: boolean;
    style?: string;
    emoji?: string;
}

const { text, href, id, click, style, emoji } = Astro.props;
---

<a href={href} class="text-neutral-300 hover:text-white text-4xl sm:text-5xl md:text-6xl lg:text-7xl font-medium duration-500">
    {emoji}{click ? <button id={id} class="font-bold" style={style}>{text}</button> : <button id={id}>{text}</button>}
</a>