---
import Button from "../components/NavigationButton.astro";

let pvp, bot, world, home, ender, meowsir;

if (Astro.url.toString().includes("pvp")) {
	pvp = true;
} else if (Astro.url.toString().includes("bot")) {
	bot = true;
} else if (Astro.url.toString().includes("world")) {
	world = true;
} else if (Astro.url.toString().includes("ender")) {
	ender = true;
} else if (Astro.url.toString().includes("meowsir")) {
	meowsir = true;
} else {
	home = true;
}

export interface Props {
    title: string;
	style: string;
}

const { title, style } = Astro.props;
---

<nav class="z-50 fixed w-[90%] md:w-[50rem] xs:flex flex-row justify-between items-center px-4 py-2 mt-4 md:mt-6 backdrop-blur-sm border-2 border-white/10 bg-black/20 shadow-lg rounded-lg">
    <div class="flex justify-between">
        <div class="flex justify-start text-lg">
            <h1 class="text-xl md:text-2xl font-bold">
                {title}
            </h1>
        </div>
        <div class="flex justify-end text-2xl space-x-4">
            <button id="menu_button" title="Toggle menu button">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5M12 17.25h8.25" />
                  </svg>                  
            </button>
        </div>
    </div>
</nav>

<menu id="menu" class="invisible fixed h-screen w-screen backdrop-blur-12 z-40">
    <div class="top-1/2 left-1/2 fixed flex flex-col gap-2 font-medium text-4xl sm:text-5xl md:text-6xl lg:text-7xl overflow-hidden text-ellipsis whitespace-nowrap" style="transform: translate(-50%, -50%);">
        <Button text="Home" emoji="ðŸ " href="/" click={home} style={style}/>
        <Button text="Korino PvP" emoji="â›ï¸" href="/pvp" click={pvp} style={style}/>
        <Button text="Korii Bot" emoji="ðŸ¤–" href="/bot" click={bot} style={style}/>
        <Button text="Korino World" emoji="ðŸŒ" href="/world" click={world} style={style}/>
    
        <Button text="Ender2K89" emoji="ðŸ‘»" href="/u/ender" click={ender} style={style}/>
        <Button text="MeowSir81" emoji="ðŸ¤ " href="/u/meowsir" click={meowsir} style={style}/>
    </div>
</menu>

<style>
    .invisible {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s linear 300ms, opacity 300ms;
    }

    .visibile {
        visibility: visible;
        opacity: 1;
        transition: visibility 0s linear 0s, opacity 300ms;
    }

    .no_invisible {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s linear 300ms, opacity 300ms;
    }
    
    .no_visibile {
        visibility: visible;
        opacity: 1;
        transition: visibility 0s linear 0s, opacity 300ms;
    }
</style>

<script>
    const blur = document.getElementById("blur")!;
    const menu = document.getElementById("menu")!;
    const button = document.getElementById("menu_button")!;

    button.addEventListener("click", () => {
        if (menu.classList.contains("invisible")) {
            menu.classList.remove("invisible");
            menu.classList.add("visibile");

            blur.classList.remove("no_visibile");
            blur.classList.add("no_invisible");
        } else {
            menu.classList.remove("visibile");
            menu.classList.add("invisible");

            blur.classList.remove("no_invisible");
            blur.classList.add("no_visibile");
        }
    });
</script>